<div *ngIf="currentPage === 'tracking' ">
    <app-navbar></app-navbar>
</div>

<div id="tracking" [ngClass]="{'mx-auto p-5': currentPage === 'tracking'}">
    <div class="card">
        <div class="card-header pl-4">
            <form [formGroup]="trackingForm" (ngSubmit)="onSubmit()">
                <input type="text" class="p-2" style="border: 1px solid lightgray;" class="w-75" formControlName="trackingCode" placeholder="Input tracking code">
                <span class="ml-3 mt-3 btn btn-md btn-primary" (click)="onSubmit()">Search</span>
            </form>
        </div>
    </div>
</div>

<div class="row" *ngIf="currentPage === 'tracking' && currentRecord ">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="container rounded shadow-sm card my-2">
                    <div class="card-body d-flex justify-content-between">
                        <div class="flex">
                            <h6>Tracking Code</h6>
                            <p><small>{{ currentRecord?.result?.trackingCode }}</small></p>
                        </div>
                        
                        <div class="flex">
                            <h6>Current Location</h6>
                            <p><small>{{ currentRecord?.trackingDetail?.currentLocation?.address }}</small></p>
                        </div>
    
                        <div class="flex">
                            <h6>Current Location Coordinates</h6>
                            <p><small>Latitude: {{ currentRecord?.trackingDetail?.currentLocation?.coordinates[0] }}</small></p>
                            <p><small>Longitude: {{ currentRecord?.trackingDetail?.currentLocation?.coordinates[1] }}</small></p>
                        </div>
                        
                        <div class="flex">
                            <h6>Shipment Status</h6>
                            <p><small>{{ currentRecord?.trackingDetail?.status }}</small></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="currentPage === 'tracking' ">
    <app-footer></app-footer>
</div>