<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Shipment Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                  <tr><th>Code</th><td>{{ record?.code }}</td></tr>                  
                  <tr><th>Courier</th><td>{{ record?.courier }} ({{ record?.courierPhone }})</td></tr>                  
                  <tr><th>Packages</th><td>{{ record?.packages.length }}</td></tr>                  
                  <tr><th>Is Shipment Full?</th><td>{{ record?.isVehicleFull ? 'Full' : 'Not Full' }}</td></tr>                  
                  <tr><th>Vehicle Type</th><td>{{ record?.vehicleType }}</td></tr>                  
                  <tr><th>Vehicle Detail</th><td>{{ record?.vehicleDetail }}</td></tr>                  
                  <tr><th>Location From</th><td>{{ record?.locationFrom?.address }}</td></tr>                  
                  <tr><th>Destination</th><td>{{ record?.destination?.address }}</td></tr>                  
                  <tr><th>Current Location</th><td>{{ record?.currentLocation?.address }}</td></tr>                  
                  <tr><th>Departure Date</th><td>{{ record?.departureDate }}</td></tr>                  
                  <tr><th>Expected Date</th><td>{{ record?.expectedDate }}</td></tr>                  
                  <tr><th>Status</th><td>{{ record?.status }}</td></tr>                  
                  <tr><th>Remark</th><td>{{ record?.remark }}</td></tr>                  
                  <tr><th>Date created</th><td>{{ record?.createdAt | date }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
