<app-navbar></app-navbar>

<!--Body-->
<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center py-3">
            <h3>About Supply Vortex International Logistic</h3>
            <p>We are your best bet in the world of logistics</p>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="container-fluid">
                        <p>
                            At Supply Vortex we are proud of our long history of providing high-quality logistics and
                            supply chain
                            management services to clients around the world. Our story began in 2023 when our founder
                            Ezeh
                            Godfrey, recognized a need for more efficient and effective supply chain solutions.
                        </p>

                        <br>

                        <p>
                            Over the years, we have grown and expanded our services to meet the changing needs of our
                            clients.
                            Today, we offer a comprehensive range of logistics and supply chain management services,
                            including
                            high quality, efficient and cost effective.
                        </p>

                        <br>

                        <p>
                            Through our dedication to excellence, we have built a reputation for delivering innovative
                            solutions
                            that
                            help our clients achieve their business goals. Our team of experienced professionals is
                            committed to
                            providing exceptional service, and we work closely with our clients to ensure that their
                            needs are met
                            at
                            every stage of the supply chain.
                        </p>

                        <br>

                        <p>
                            As we look to the future, we remain committed to providing the highest level of service and
                            innovation
                            in logistics and supply chain management. We are excited to continue our journey, and we
                            invite you to
                            be a part of it. Thank you for choosing supply vortex as your partner in logistics and
                            supply chain
                            management.
                        </p>

                    </div>
                </div>
                <div class="col-md-6 col-xs-12 text-center image-background">
                    <img src="../../../assets/img/delivery-image3.jpg" width="95%" alt="" class="rounded">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="text-center py-3">
        <h3>Our Vision</h3>
        <p>
            Our vision is to create a world where logistics and supply chain management are seamless, efficient, and
            sustainable. We believe that by leveraging the latest technologies, embracing best practices, and
            fostering collaboration, we can help businesses of all sizes achieve their full potential.
        </p>
        <br>
        <p>
            We aim to be the premier provider of logistics and supply chain management solutions, delivering
            unparalleled value to our clients and setting the standard for excellence in our industry. We are
            committed to operating in a socially and environmentally responsible manner, and to promoting
            sustainable practices throughout our operations and our industry.
        </p>

        <br>

        <p>
            Through our unwavering dedication to innovation, agility, and collaboration, we aim to drive growth,
            improve efficiency, and increase profitability for our clients. We are proud of our track record of success,
            and we look forward to continuing to raise the bar for excellence in logistics and supply chain
            management.
        </p>
    </div>
</div>


<div class="container my-5">
    <div class="col-12">
        <div class="row">
            <div class="col-md-6 col-xs-12 text-center image-background">
                <img src="../../../assets/img/mission.jpeg" width="95%" alt="" class="rounded">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="container-fluid">
                    <h3>Our Mission</h3>
                    <p>
                        At Supply Vortex, our mission is to provide reliable and efficient logistics and supply chain
                        management
                        solutions to help businesses of all sizes grow and succeed. We believe that by working closely
                        with our
                        clients and understanding their unique needs, we can tailor our solutions to deliver maximum
                        value and
                        benefit.
                    </p>

                    <br>

                    <p>
                        We are committed to staying at the forefront of our industry by leveraging the latest
                        technologies,
                        embracing best practices, and fostering innovation and creativity. We believe that our success
                        is rooted
                        in the success of our clients, and we are dedicated to providing unparalleled service and
                        support to help
                        them achieve their goals.
                    </p>

                    <br>

                    <p>
                        Our mission is also rooted in sustainability and social responsibility. We are committed to
                        operating in
                        an environmentally responsible manner and promoting sustainable practices throughout our
                        operations
                        and our industry. We believe that by doing so, we can create a better future for all.
                    </p>

                    <br>

                    <p>
                        Through our unwavering dedication to our clients, our industry, and our planet, we aim to be the
                        premier provider of logistics and supply chain management solutions. We are proud of our track
                        record
                        of success, and we look forward to continuing to deliver exceptional value and support to our
                        clients for
                        years to come.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>