<app-navbar></app-navbar>

<!--Body-->
<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center py-3">
            <h3>About Turah International Logistic</h3>
            <p>We are your best bet in the world of logistics</p>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-xs-12 text-center image-background">
                    <img src="../../../assets/img/delivery-image3.jpg" width="95%" alt="" class="rounded">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="container-fluid">
                        <p>
                            At Turah Logistic we pride ourselves as Africa's Leading Logistics Company, powered by technology. Founded in 2012, we belong to a distinguished class of logistics companies with a clearly defined market path across Africa.
                        </p>
                        <p>
                            At Turah Logistic we pride ourselves as Africa's Leading Logistics Company, powered by technology. Founded in 2012, we belong to a distinguished class of logistics companies with a clearly defined market path across Africa.
                        </p>
                        <p>
                            At Turah Logistic we pride ourselves as Africa's Leading Logistics Company, powered by technology. Founded in 2012, we belong to a distinguished class of logistics companies with a clearly defined market path across Africa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="text-center py-3">
        <h3>Our Vision</h3>
        <p>
            To improve International logistics of Nigerian agrricultural products to foreign countries where they are needed.
            And we do so by providing fast logistics to our customers request.
        </p>
    </div>
</div>

<div class="container my-5">
    <div class="text-center py-3">
        <h3>Our Mission</h3>
        <p>
            To take logistics service to the next level by providing first-class messenger services to our
            customers at reasonable rates and on consistent basis.
        </p>
    </div>
</div>

<app-footer></app-footer>