<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3 pull-left bottom-0">
            <div class="nav-wrapper position-relative" style="width: max-content; border-radius: 4px;">
              <ul class="nav nav-tabs nav-pills p-0" role="tablist" style="border-radius: 4px;">
                <li class="">
                  <a class="nav-link m-0 px-3 py-2" routerLink="/admin/deposit" routerLinkActive="active" data-bs-toggle="tab" role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative">home</i>
                    <span class="ms-1">Deposits</span>
                  </a>
                </li>
                
              </ul>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  
  