<div id="footer">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <div class="text-left">
                <h4 class="text-white">&copy; 2022 SeaWay</h4>
            </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <div class="text-left">
                <h4 class="text-white">Company Info</h4>
                <ul class="list-unstyled">
                    <li>
                        <a [routerLink]="['/offices']" routerLinkActive="router-link-active" >Our Offices</a>
                    </li>
                    <li>
                        <a [routerLink]="['/about-us']" routerLinkActive="router-link-active" >About Us</a>
                    </li>
                    <!-- <li>
                        <a href="/">Our Services</a>
                    </li> -->
                </ul>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <div class="text-left">
                <h4 class="text-white">Connect with us</h4>
                <div class="">
                    <span class="mr-4">
                        <a href="/">
                            <span class="text-light">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                    <span class="mr-4">
                        <a href="/">
                            <span class="text-light">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                    <span class="mr-4">
                        <a href="/">
                            <span class="text-light">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>