<div class="g-sidenav-show  bg-gray-200">
   
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
        <app-sidebar></app-sidebar>
    </aside>
    <div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <app-admin-navbar></app-admin-navbar>
        <router-outlet></router-outlet>
        <footer class="footer py-4  ">
            <app-admin-footer></app-admin-footer>
        </footer>
    </div>



</div>