<!-- <nav class="navbar navbar-dark bg-dark">
  Navbar content

  <a class="navbar-brand" href="#">SeaWay</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse pull-right" id="navbarNavAltMarkup">
    <div class="navbar-nav align-items-lg-center d-flex ml-lg-auto pull-right">
      <a class="nav-item nav-link active flex-1" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link flex-1" href="#">Features</a>
      <a class="nav-item nav-link flex-1" href="#">Pricing</a>
      <a class="nav-item nav-link flex-1 disabled" href="#">Disabled</a>
    </div>
  </div>

</nav> -->


<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
  <div class="container-fluid py-4">

    <div class="flex">
      <a class="navbar-brand" href="#">SeaWay</a>
    </div>
    <div class="flex navigation-items">
      <ul class="list-inline list-unstyled d-inline">
        <li>
          <a href="/">Our Offices</a>
        </li>
        <li>
          <a href="/">About Us</a>
        </li>
        <li>
          <a href="/">Our Services</a>
        </li>
        <li>
          <a *ngIf="!isAuthenticated" routerLink="/login" class="btn btn-sm btn-outline-info rounded mt-2">Sign In/Sign Up</a>
          <a *ngIf="isAuthenticated" class="">
            <span class="mx-3">{{ user?.surname }} {{ user?.firstName }}</span>
            <img [src]="user?.image || defaultAvatar" class="rounded-circle" width="40rem"  alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="flex lg:hidden" id="hidden-div">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pull-right" id="navbarNavAltMarkup">
        <div class="navbar-nav align-items-lg-center d-flex ml-lg-auto pull-right">
          <a class="nav-item nav-link active flex-1" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link flex-1" href="#">Our Offices</a>
          <a class="nav-item nav-link flex-1" href="#">About us</a>
          <!-- <a class="nav-item nav-link flex-1 disabled" href="#">Our Service</a> -->
        </div>
      </div>
    </div>
  </div>
</nav>
