.navbar-brand {
    font-weight: 900;
    font-size: 1em;
    color: #0d1b30 !important;
}

nav{
    z-index: 10;
    font-size: 20px;
    color: black;
    background: transparent !important;
    a{ 
        color: black;
        text-decoration: none;
        font-weight: bolder;
    }
    .navigation-items {
        padding: 8rem auto;
    }
}

ul li {
    display: inline;
    margin: auto 2rem;
}

#hidden-div {
    display: none;
}

.dropdown-menu {

    left: -1.1rem;
    min-width: max-content;
   
}

@media screen and (max-width: 718px) {
    #hidden-div{
        display: block;
    }

    .navigation-items{
        display: none;
    }
}
