<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  
    <app-navbar></app-navbar>
  
    <div class="position-relative">
        <section class="section section-lg section-shaped pb-100">
            <div id="display" class="shape shape-style-1 shape-default" >
                <span class="pos-1"></span>
                <span class="pos-2"></span>
                <span class="pos-3"></span>
                <span class="pos-4"></span>
                <span class="pos-5"></span>
                <span class="pos-6"></span>
                <span class="pos-7"></span>
                <span class="pos-8"></span>
                <span class="pos-9"></span>
            </div>
            <div id="skew-seperator"></div>
            <div id="display-overlay" class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-5 col-xs-12">
                        <div class="brand">
            
                            <h1 class="display-3 text-white pt-100">
                              Argon React Native
                            </h1>
                            <p class="lead text-white"> Start your development with a beautiful open source Design System for React Native. </p>
            
                            <br>
                                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2FCreativeTim&width=74&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId" data-size="large" width="74" height="21" style="border:none;overflow:hidden;height:20px" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            
                                <a href="https://twitter.com/creativetim?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true">Follow @creativetim</a>
            
                                <a class="github-button" href="https://github.com/creativetimofficial/argon-react-native" data-icon="octicon-star" data-show-count="true" aria-label="Star creativetimofficial/argon-react-native on GitHub">Star</a>
                              <br>
                              <br>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-7 col-xs-12">
                      <img src="../../../assets/img/apps.jpg" style="border-radius: 10px;" height="350em" width="200em" class="phone1" id="parallax-1" alt="alt image">
                      <!-- <img src="assets/img/samsung.png" class="phone2" id="parallax-2" alt="alt image"> -->
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- <section id="service-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text-center">
                        <div>
                            <span>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <div id="service-section" >
        <div class="section" id="details">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <h1 class="text-center">
                            Seamless delivery services 
                        </h1>
                    </div>
                </div>
                <div class="features-1 mt-5">
                    <div class="row">
                        <div class="col-md-6 column-1 tile " [routerLink]="['/history']" routerLinkActive="router-link-active" >
                            <div class="info text-center p-5">
                                <div class="icon icon-shape icon-shape-primary alert-primary text-primary rounded-circle mb-4">
                                  <i class="ni ni-check-bold"></i>
                                </div>
                                <h3 class="info-title">View all your activities</h3>
                                <p>We used Google Fonts (Open Sans) for the beautiful typography inside Argon React Native.</p>
                            </div>
                        </div>
                        <div class="col-md-6 column-2 tile" [routerLink]="['/parcel']" routerLinkActive="router-link-active">
                            <div class="info text-center p-5">
                                <div class="icon icon-shape icon-shape-success alert-success text-success rounded-circle mb-4">
                                  <i class="ni ni-planet"></i>
                                </div>
                                <h3 class="info-title">Ship parcel oversee with us</h3>
                                <p>Argon React Native has a fresh design inspired by Argon Design System.</p>
                            </div>
                        </div>
                        <div class="col-md-6 column-3 tile" [routerLink]="['/wallet']" routerLinkActive="router-link-active">
                            <div class="info text-center p-5">
                                <div class="icon icon-shape icon-shape-warning alert-warning text-warning rounded-circle mb-4">
                                  <i class="ni ni-settings"></i>
                                </div>
                                <h3 class="info-title">Fund and manage wallet</h3>
                                <p>Save time writing the code one time and it will be automatically converted to native iOS and Android code.</p>
                            </div>
                        </div>
                        <div class="col-md-6 column-4 tile" [routerLink]="['/tracking']" routerLinkActive="router-link-active">
                            <div class="info text-center p-5">
                                <div class="icon icon-shape icon-shape-info alert-info text-info rounded-circle mb-4">
                                  <i class="ni ni-building"></i>
                                </div>
                                <h3 class="info-title">Track your shipment</h3>
                                <p>All components come with their own description and examples of how to use them. Please check the <a href="https://demos.creative-tim.com/argon-react-native/docs/#/" target="_blank"> full documentation here</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="hidden-image">
        <div class="section">
            <div class="display-title">
                <div class="text-center pt-5">
                    <h1 style="color: #ffffff;"> A system you can always trust</h1>
                </div>
            </div>
        </div>
    </div>

    <div>
        <section>
            <div class="display">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-7 col-xs-12">
                            <div class="brand">
                                <p class="display-6 text-white">
                                    <strong>SeaWay, the app for local and international shipping</strong>
                                </p>
                            </div>
                            <div class="mt-5 d-flex">
                                <button class="btn btn-sm rounded btn-danger mr-1 flex-1 d-flex">
                                    <span class="flex-2" style="margin: auto 5px;">
                                        <i class="fa fa-apple" style="font-size: 15px;" aria-hidden="true"></i>
                                    </span>
                                    <div class="flex-1">
                                        <small>Download on the </small>
                                        <br>
                                        <p><strong>App Store</strong></p>
                                    </div>
                                </button>
                                <button class="btn btn-sm rounded bg-white ml-1 flex-1 d-flex ">
                                    <span class="flex-2" style="margin: auto 5px;">
                                        <i class="fa fa-google-plus-square" style="font-size: 15px;" aria-hidden="true"></i>
                                    </span>
                                    <div class="flex-1">
                                        <small>Get it on </small>
                                        <br>
                                        <p><strong>Play Store</strong></p>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-sm-7 col-xs-12">
                          <img src="../../../assets/img/apps.jpg" style="border-radius: 10px;" height="350em" width="200em" class="phone1" id="parallax-1" alt="alt image">
                          <img src="assets/img/samsung.png" class="phone2" id="parallax-2" alt="alt image">
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="section-testimonials team-3 mt-5"  id="testimonials">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title pt-100">Trusted by 765.000+ People</h2>
              <h5 class="description pb-5">
                  We take the burden of shipment and logistic to international countries of your shoulders.
              </h5>
            </div>
          </div>
          <div class="row">
    
            <div class="col-md-4 text-center">
              <div class="px-4">
                  <img class="img-fluid rounded-circle shadow" src="../../../assets//img/drake.jpg"><div class="pt-0 text-center">
                  <h5 class="title mt-3">
                    <span class="d-block mb-1">Ozor Michael</span>
                    <small class="h6 text-muted">
                      "As soon as I saw this kit, everything else isn't the same anymore, I just can't describe it guys! Thank you for this work!"
    
                    </small>
                  </h5>
                </div>
              </div>
            </div>
    
            <div class="col-md-4 text-center">
              <div class="px-4">
                  <img class="img-fluid rounded-circle shadow" src="../../../assets//img/drake.jpg"><div class="pt-0 text-center">
                  <h5 class="title mt-3">
                    <span class="d-block mb-1">Josh Franklin</span>
                    <small class="h6 text-muted"> "Great! Used this for a client already and he is over the moon. Keep up the good work Creative Tim! 10/10 for design, colours, and the feel of the kit."
                    </small>
                  </h5>
                </div>
              </div>
            </div>
    
            <div class="col-md-4 text-center">
              <div class="px-4">
                  <img class="img-fluid rounded-circle shadow" src="../../../assets//img/drake.jpg"><div class="pt-0 text-center">
                  <h5 class="title mt-3">
                    <span class="d-block mb-1">Michael Onubogu</span>
                    <small class="h6 text-muted"> "Damn Daniel!!! This Design System is fresh AF! Amazing work!"</small>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="our-clients text-center">
            <div class="card-featured-content">
                <!-- <img src="../../../assets//img/drake.jpg" alt="alt image">
                <img src="../../../assets//img/drake.jpg" alt="alt image">
                <img src="../../../assets//img/drake.jpg" style="width:70px;" alt="alt image">
                <img src="../../../assets//img/drake.jpg" style="width: 90px" alt="alt image">
                <img src="../../../assets//img/drake.jpg" style="width: 75px;" alt="alt image">
                <img src="../../../assets//img/drake.jpg" style="width:75px;" alt="alt image">
                <img src="../../../assets//img/drake.jpg" style="width:80px;" alt="alt image">
                <img src="../../../assets//img/drake.jpg" alt="alt image"> -->
            </div>
          </div>
        </div>
      </div>

<!-- <div class="container py-lg-md d-flex">
    <div class="row">
        <div class="col-lg-6">
            <div class="brand">

                <h1 class="display-3 text-white pt-100">
                  Argon React Native
                </h1>
                <p class="lead text-white"> Start your development with a beautiful open source Design System for React Native. </p>

                <br>
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2FCreativeTim&width=74&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId" data-size="large" width="74" height="21" style="border:none;overflow:hidden;height:20px" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

                    <a href="https://twitter.com/creativetim?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true">Follow @creativetim</a>

                    <a class="github-button" href="https://github.com/creativetimofficial/argon-react-native" data-icon="octicon-star" data-show-count="true" aria-label="Star creativetimofficial/argon-react-native on GitHub">Star</a>
                  <br>
                  <br>
            </div>
        </div>
        <div class="col-lg-6">
          <img src="assets/img/iph.png" class="phone1" id="parallax-1" alt="alt image">
          <img src="assets/img/samsung.png" class="phone2" id="parallax-2" alt="alt image">
        </div>
    </div>
</div>
<div class="separator separator-bottom separator-skew">
  <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="https://www.w3.org/2000/svg">
    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
  </svg>
</div> -->
  
  
    