<main class="main-content  mt-0">
  <app-navbar></app-navbar>
  <!-- <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    
  </div> -->
  <br>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-7 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <!-- <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Login</h4>
              <div class="row mt-3">
                <div class="col-2 text-center ms-auto">
                  <a class="btn btn-link px-3" href="javascript:;">
                    <i class="fa fa-facebook text-white text-lg"></i>
                  </a>
                </div>
                <div class="col-2 text-center px-1">
                  <a class="btn btn-link px-3" href="javascript:;">
                    <i class="fa fa-github text-white text-lg"></i>
                  </a>
                </div>
                <div class="col-2 text-center me-auto">
                  <a class="btn btn-link px-3" href="javascript:;">
                    <i class="fa fa-google text-white text-lg"></i>
                  </a>
                </div>
              </div>
            </div>
          </div> -->
          
          <div class="card-body">
            <h4 class="font-weight-bolder text-center mt-2 mb-5">Signup Form</h4>
            <div class="text-center">
                <button type="button" style="text-transform: lowercase;" class="btn btn-sm btn-outline-dark text-dark w-100 my-3 hovering ld-over"
                [disabled]="!addForm.valid"
                >
                  <!-- <span *ngIf="loading" style="font-size: 15px;">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                  </span> -->

                  <span style="font-size: 12px;">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Signup with google
                  </span>
                </button>
              </div>
            <!--Signup Form-->
            <form role="form" class="text-start" [formGroup]="addForm" (ngSubmit)="onSubmit()">
              <div class="input-group my-3">
                <label class="form-label">Title</label>
                <select name="title" id="title" class="form-control" formControlName="title">
                  <option value="">Prefer Not to say</option>
                  <option value="MR">Mr</option>
                  <option value="MRS">Mrs</option>
                  <option value="MS">Ms</option>
                  <option value="DR">Dr</option>
                  <option value="ENGR">Engr</option>
              </select>
              </div>

              <div class="input-group my-3">
                <label class="form-label">Surname</label>
                <input type="text" class="form-control" formControlName="surname" required placeholder="Surname">
              </div>
              <div class="input-group my-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" formControlName="firstName" required placeholder="First Name">
              </div>
              <div class="input-group my-3">
                <label class="form-label">Middle Name</label>
                <input type="text" class="form-control" formControlName="middleName" required placeholder="Middle Name">
              </div>
              
              <div class="input-group my-3">
                <label class="form-label">Phone No</label>
                <input type="text" class="form-control" formControlName="phone" required placeholder="Phone no">
              </div>
              <div class="input-group my-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
              </div>

              <div class="input-group mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
              </div>

              <div class="input-group mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm password">
              </div>

              <div class="text-center">
                <button type="button" class="btn bg-gradient-primary w-100 my-4 mb-2 hovering ld-over"
                [disabled]="!addForm.valid" (click)="onSubmit()"
                >
                  <span *ngIf="loading" style="font-size: 10px;">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                  </span>

                  <span *ngIf="!loading" style="font-size: 15px;">
                    Submit
                  </span>
                </button>
              </div>

              <p class="mt-4 text-sm text-center">
                Have an account?
                <a routerLink="/login" class="text-primary text-gradient font-weight-bold">Login</a>
              </p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <app-footer></app-footer>
  </div>
</main>