<div class="modal" id="modalLarge" #modal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="container-fluid">
            <h4 class="modal-title text-primary">{{ headerTitle }}</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="closeModal()"><strong>&times;</strong></button>
          </div>
  
        </div>
        <div class="modal-body">
          <ng-content></ng-content>

        </div>
      </div>
    </div>
  </div>