<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <app-breadcrumb></app-breadcrumb>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group input-group-outline">
            
          </div>
        </div>

        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body text-dark font-weight-bold px-0" (click)="logout()">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-power-off" style="color: black;" aria-hidden="true"></i>
              </div>
              <!-- <span class="nav-link-text ms-1">Log Out</span> -->
            </a>
          </li>

          <li class="av-item d-flex align-items-center">
            <a href="javascript:;" 
              [routerLink]="['/admin/profile']" routerLinkActive="router-link-active"
              class="nav-link text-body text-dark font-weight-bold px-0" 
              id="iconNavbarSidenav"
            >
              <img [src]="user?.image || defaultAvatar" class="rounded-circle" width="40rem"  alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>