.active {
    color: #304f88;
    background-color: #8fb6ff;
    border-radius: 5px;
    padding: .65rem .85rem;
}

a {
    text-decoration: none;
    color: #0d1b30;
    background-color: #ededed;
    border-radius: 5px;
    padding: .65rem .85rem;
}

ul li {
    min-width: 100%;
}