<div class="row mb-4 mt-4">
    <div class="col-lg-12 col-md-12 col-xs-12 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <div class="d-flex">
                <!-- <button rel="tooltip" title="New Record" class="btn btn-primary rounded flex-1 mr-3">
                  <i class="now-ui-icons ui-1_simple-add"></i> Add New
                </button> -->

                <button class="btn btn-primary mb-2 me-2 flex-1" (click)="openModal('xl', 'create', content)">Add New</button>

                <div class="push-right ml-3" *ngIf="currentSelectedParcels.length > 0">
                  <button type="button" class="btn btn-md btn-success rounded flex-1" (click)="openModal('xl', 'package', content)">
                    <i class="now-ui-icons design_app"></i> Package Items
                  </button>
                </div>
              </div>
              <h4>Parcels Today</h4>
              <!-- <p class="text-sm mb-0">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
                <span class="font-weight-bold ms-1">30 done</span> this month
              </p> -->
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body px-0 pb-2">
          <div class="container-fluid">
            <app-table [headers]="headers">
              <thead>
                <tr>
                  <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    *ngFor="let header of headers">{{ header }}</th> -->
                  <td></td>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">S/N</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Worth</th>
                  <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Recipient</th> -->
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created On</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let record of currentRecords; let i = index">
                      <td>
                        <div *ngIf="record?.status === 'PENDING' "><label class="toggle"><input type="checkbox" value="{{record}}" (change)="onSelectChange(record)"/></label></div>
                      </td>
                      <td>{{ i + 1 }}</td>
                      <td>{{ record?.name }}</td>
                      <td>{{ record?.worth | currency: 'NGN' : 'symbol-narrow' : '4.2-2' }}</td>
                      <!-- <td>{{ record?.recipientName }} ({{ record?.recipientPhone }})</td> -->
                      <td>{{ record?.status }}</td>
                      <td>{{ record?.createdAt | date }}</td>
                      <td>
                        <div class="dropdown show">
                          <a class="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-v text-secondary"></i>
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" (click)="openModal('lg', 'edit', content, record)">View</a>
                            <a class="dropdown-item" (click)="openModal('xl', 'edit', content, record)">Edit</a>
                            <a class="dropdown-item" (click)="openModal('lg', 'delete', content, record)">Delete</a>
                          </div>
                        </div>
                      </td>
                  </tr>
              </tbody>
            </app-table>
          </div>
        </div>

      </div>
    </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header container">
    <h4 class="modal-title">
      <span *ngIf="modalType === 'create' || modalType === 'edit' ">Parcel Modal</span>
      <span *ngIf="modalType === 'package'">Package Modal</span>
      <span *ngIf="modalType === 'delete'">Delete Modal</span>
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  <div class="modal-body">
    <div *ngIf="modalType === 'create' || modalType === 'edit' ">
      <app-parcel-add [record]="currentRecord" [formType]="modalType" (changed)="getRecords()">
      </app-parcel-add>
    </div>

    <div *ngIf="modalType === 'package'">
      <form [formGroup]="packageForm" (ngSubmit)="createPackage()">
        <div class="alert alert-success">
          <span class="m-2"><small>Number of Items: </small> <strong>{{ currentSelectedParcels.length }}</strong></span>
          <span class="m-2"><small>Suggested Amount to Pay: </small> <strong>{{ totalAmount }}</strong></span>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                  <label for="name" class="control-label"><strong>Package Name*</strong></label>
                  <input type="text" formControlName="name" class="form-control">
              </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                  <label for="name" class="control-label"><strong>Amount Payable*</strong></label>
                  <input type="number" formControlName="amountPayable" class="form-control">
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                  <label for="senderName" class="control-label"><strong>Sender Name*</strong></label>
                  <input type="text" formControlName="senderName" class="form-control">
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                  <label for="senderPhone" class="control-label"><strong>Sender Phone*</strong></label>
                  <input type="text" formControlName="senderPhone" class="form-control">
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                  <label for="senderEmail" class="control-label"><strong>Sender Email*</strong></label>
                  <input type="email" formControlName="senderEmail" class="form-control">
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                  <label for="recipientName" class="control-label"><strong>Recipient Name*</strong></label>
                  <input type="text" formControlName="recipientName" class="form-control">
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                  <label for="recipientPhone" class="control-label"><strong>Recipient Phone*</strong></label>
                  <input type="text" formControlName="recipientPhone" class="form-control">
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="recipientEmail" class="control-label"><strong>Recipient Email*</strong></label>
                <input type="email" formControlName="recipientEmail" class="form-control">
            </div>
        </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="deliveryAddress" class="control-label"><strong>Delivery Address*</strong></label>
                <input type="text" class="form-control" formControlName="deliveryAddress">
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                  <label for="pickupAddress" class="control-label"><strong>Pickup Address*</strong></label>
                  <input type="text" class="form-control" formControlName="pickupAddress">
              </div>
          </div>

          
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="paymentMethod" class="control-label"><strong>Payment Method*</strong></label>
                <select name="paymentMethod" [(ngModel)]="paymentMethod" id="paymentMethod" formControlName="paymentMethod" class="form-control">
                    <option value="">Select payment method</option>
                    <option value="CASH">CASH</option>
                    <option value="GATEWAY">GATEWAY</option>
                    <option value="TRANSFER">TRANSFER</option>
                </select>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group" *ngIf="paymentMethod === 'GATEWAY' ">
                <label for="paymentGateway" class="control-label"><strong>Payment Gateway*</strong></label>
                <select name="paymentGateway" id="paymentGateway" formControlName="paymentGateway" class="form-control">
                    <option value="">Select Payment Gateway</option>
                    <option value="PAYSTACK">PAYSTACK</option>
                    <option value="FLUTTERWAVE">FLUTTERWAVE</option>
                </select>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="paymentStatus" class="control-label"><strong>Payment Status*</strong></label>
                <select name="paymentStatus" id="paymentStatus" formControlName="paymentStatus" class="form-control">
                    <option value="">Select Payment Gateway</option>
                    <option value="PENDING">PENDING</option>
                    <option value="SUCCESS">SUCCESSFUL</option>
                    <option value="FAIL">FAIL</option>
                </select>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="isCheckedOut" class="control-label"><strong>Is CheckOut?*</strong></label>
                <select name="isCheckedOut" id="isCheckedOut" formControlName="isCheckedOut" class="form-control">
                    <option value="">Select Parcel Payment status</option>
                    <option value="true">Paid</option>
                    <option value="false">Not Paid</option>
                </select>
            </div>
        </div>



        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group">
              <label for="remark" class="control-label"><strong>Remark*</strong></label>
              <input type="text" class="form-control" formControlName="remark">
          </div>
        </div> 



      </div>
      <div class="form-group">  
          <button type="submit" class="btn btn-block btn-primary" (click)="createPackage()"
          [disabled]=" packageForm.invalid || packaging ">
              Submit
              <img *ngIf="loading" class="pl-3"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>
      </div>
      </form>
    </div>

    <div id="delete-modal" *ngIf="modalType === 'delete' ">
      <div class="container rounded shadow-sm card">
        <div class="card-header">
          <h4 class="card-title">Are you sure you want to delete the record below?</h4>
        </div>
        <div class="card-body d-flex justify-content-between">
            <div class="flex">
                <h6>Parcel Code</h6>
                <p><small>{{ currentRecord?.code }}</small></p>
            </div>
            
            <div class="flex">
                <h6>Worth</h6>
                <p><small>{{ currentRecord?.worth }}</small></p>
            </div>
            
            <div class="flex">
                <h6>Sender's Info</h6>
                <p><small>{{ currentRecord?.senderName }} ({{ currentRecord?.senderPhone }})</small></p>
            </div>
            
            <div class="flex">
                <h6>Recipient's Info</h6>
                <p><small>{{ currentRecord?.recipientName }} ({{ currentRecord?.recipientPhone }})</small></p>
            </div>
        </div>
      </div>
      <div class="mt-5">
        <button class="btn btn-block btn-danger" (click)="deleteRecord(currentRecord)">
          <span *ngIf="deleting" style="font-size: 10px;">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </span>
          <span *ngIf="!deleting">Delete</span>
        </button>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
