<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3 text-start">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1" routerLink="/admin/shipment" routerLinkActive="active bg-gradient-primary" data-bs-toggle="tab" role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative">home</i>
                    <span class="ms-1">Shipments</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1" routerLink="/admin/shipment/add" routerLinkActive="active bg-gradient-primary" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">email</i>
                    <span class="ms-1">Shipment Add</span>
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " routerLink="/admin/parcel/add" routerLinkActive="active bg-gradient-primary" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">settings</i>
                    <span class="ms-1">Settings</span>
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
    </div>
    <router-outlet></router-outlet>
</div>
