<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Package Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                  <tr><th>Name</th><td>{{ record?.name }}</td></tr>
                  <tr><th>Code</th><td>{{ record?.code }}</td></tr>                  
                  <tr><th>No of Items</th><td>{{ record?.parcels.length }}</td></tr>                  
                  <tr><th>Sender</th><td>{{ record?.senderName }} ({{ record?.senderPhone }})</td></tr>                  
                  <tr><th>Sender Email</th><td>{{ record?.senderEmail }}</td></tr>                  
                  <tr><th>Receiver</th><td>{{ record?.recipientName }} ({{ record?.recipientPhone }})</td></tr>                  
                  <tr><th>Receiver Email</th><td>{{ record?.recipientEmail }}</td></tr>                  
                  <tr><th>Paid?</th><td>{{ record?.isCheckedOut ? 'Paid' : 'Not Paid' }}</td></tr>                  
                  <tr><th>Amount Paid</th><td>{{ record?.amountPayable | currency: 'NGN' : 'symbol-narrow' : '4.2-2' }}</td></tr>                  
                  <tr><th>Payment Method</th><td>{{ record?.paymentMethod }}</td></tr>                  
                  <tr><th>Payment Status</th><td>{{ record?.paymentStatus }}</td></tr>                  
                  <tr><th>Pickup Address</th><td>{{ record?.pickupAddress }}</td></tr>                  
                  <tr><th>Delivery Address</th><td>{{ record?.deliveryAddress }}</td></tr>                  
                  <tr><th>Status</th><td>{{ record?.status }}</td></tr>                  
                  <tr><th>Remark</th><td>{{ record?.remark }}</td></tr>                  
                  <tr><th>Date created</th><td>{{ record?.createdAt | date }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
