<div class="row mb-4 mt-4">
    <div class="col-lg-12 col-md-12 col-xs-12 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <button class="btn btn-primary mb-2 me-2 flex-1">Add New</button>
              <h4>Package Records</h4>
              <!-- <p class="text-sm mb-0">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
                <span class="font-weight-bold ms-1">30 done</span> this month
              </p> -->
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body px-0 pb-2">
          <div class="container-fluid">
            <app-table [headers]="headers">
              <thead>
                <tr>
                  <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    *ngFor="let header of headers">{{ header }}</th> -->
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">S/N</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Package Code</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Package Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sender</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Recipient</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created On</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let record of currentRecords; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ record?.code }}</td>
                      <td>{{ record?.name }}</td>
                      <td>{{ record?.senderName }} ({{ record?.senderPhone }})</td>
                      <td>{{ record?.recipientName }} ({{ record?.recipientPhone }})</td>
                      <td>{{ record?.status }}</td>
                      <td>{{ record?.createdAt | date }}</td>
                      <td>
                        <div class="dropdown show">
                            <a class="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-v text-secondary"></i>
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" (click)="openModal('lg', 'edit', content, record)">Deliver</a>
                            </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
            </app-table>
          </div>
        </div>

      </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header container">
      <h4 class="modal-title">
        <span *ngIf="modalType === 'create' || modalType === 'edit' ">Parcel Modal</span>
        <span *ngIf="modalType === 'package'">Package Modal</span>
        <span *ngIf="modalType === 'delete'">Delete Modal</span>
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">
      <div *ngIf="modalType === 'create' || modalType === 'edit' ">
        <!-- <app-parcel-add [record]="currentRecord" [formType]="modalType" (changed)="getRecords()">
        </app-parcel-add> -->
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">Property</th>
                                <th class="text-left pull-right">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Package Code:</strong></td>
                                <td class="text-left">{{ currentRecord?.code }}</td>
                            </tr>
                            <tr>
                                <td><strong>Package Name:</strong></td>
                                <td class="text-left">{{ currentRecord?.name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Sender's Information:</strong></td>
                                <td class="text-left">{{ currentRecord?.senderName }} ({{ currentRecord?.senderPhone }})</td>
                            </tr>
                            <tr>
                                <td><strong>Recipient's Information:</strong></td>
                                <td class="text-left">{{ currentRecord?.recipientName }} ({{ currentRecord?.recipientPhone }})</td>
                            </tr>
                        </tbody>
                    </table>
                    <form class="form" [formGroup]="deliveryForm">
                        <div class="form-group">
                            <label for="remark" class="control-label">Remark</label>
                            <textarea name="remark" id="remark" formControlName="remark" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" (click)="deliverParcel()">Deliver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>