<div class="row mb-4 mt-4">
    <div class="col-lg-12 col-md-12 col-xs-12 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <button (click)="openModalLarge()" rel="tooltip" title="New Record" class="btn btn-primary rounded">
                <i class="now-ui-icons ui-1_simple-add"></i> Add New
              </button>
              <h4>Package Records</h4>
              <!-- <p class="text-sm mb-0">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
                <span class="font-weight-bold ms-1">30 done</span> this month
              </p> -->
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body px-0 pb-2">
          <div class="container-fluid">
            <app-table [headers]="headers">
              <thead>
                <tr>
                  <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    *ngFor="let header of headers">{{ header }}</th> -->
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">S/N</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Package Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sender</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Recipient</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created On</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let record of currentRecords; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ record?.name }}</td>
                      <td>{{ record?.senderName }} ({{ record?.senderPhone }})</td>
                      <td>{{ record?.recipientName }} ({{ record?.recipientPhone }})</td>
                      <td>{{ record?.status }}</td>
                      <td>{{ record?.createdAt | date }}</td>
                      <td></td>
                  </tr>
              </tbody>
            </app-table>
          </div>
        </div>

      </div>
    </div>
</div>


<app-modal-large [headerTitle]="'Job Creation Form'">
  <!-- <app-parcel-add [record]="currentRecord" [formType]="sidebarContent">
  </app-parcel-add> -->
</app-modal-large>