<app-navbar></app-navbar>

<!-- body -->
<div class="container my-5 mx-auto w-50">
    <div class="text-center">
        <h3 style="font-weight: 800;">Serving you is our drive force!</h3>
        <p>
            The SeaWay is your on-demand delivery companion. It is specially built for 
            fast and reliable pick-up/delivery service. SeaWay is your most convenient means of sending items within and across cities. SeaWay eliminates the need to
            leave your home or comfort zone, trying to dispatch items for delivery.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mx-auto w-50">
            <div class="card-body">
                <div class="text-center">
                    <div class="container">
                        <div class="card">
                            <div class="card-header py-2 bg-gray-200">
                                <h5 class="card-title">Sender's Info</h5>
                            </div>
                            <div class="card-body">
                                <input type="text" class="form-control" placeholder="Sender's Name">
                                <input type="text" class="form-control" placeholder="Sender's Email">
                                <input type="text" class="form-control" placeholder="Sender's Phone">
                            </div>
                        </div>

                        <br>
                        <br>
                        <div class="card">
                            <div class="card-header py-2 bg-gray-200">
                                <h5 class="card-title">Recipients's Info</h5>
                            </div>
                            <div class="card-body">
                                <input type="text" class="form-control" placeholder="Recipient's Name">
                                <input type="text" class="form-control" placeholder="Recipient's Email">
                                <input type="text" class="form-control" placeholder="Recipient's Phone">
                            </div>
                        </div>
                    </div>

                    <div class="my-4">
                        <button class="btn btn-lg bg-dark text-white">
                            Submit
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>