// /* You can add global styles to this file, and also import other style files */
// // @import '~ngx-toastr/toastr';
// // @import '~ngx-toastr/toastr-bs4-alert';

// /* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
// // @import '~ngx-toastr/toastr-bs4-alert';

// .card-header{
//     border: none;
//     background: none;
// }


/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import './assets/scss/material-dashboard.scss';
@import '~bootstrap/scss/bootstrap';
body{
    background-color: #F7FAFF;
    overflow: unset;
}

.card-header{
    background: #ffffff;
}

.form-control {
    padding-left: 1.3rem;
}

.main-content {
    background-color: #F7FAFF; 
    overflow: hidden;
}
