<div class="row mb-4 mt-n1">
    <div class="col-lg-12 col-md-12 col-xs-12 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h4>Deposit Records</h4>
            </div>
            <div class="text-center col-12">
              <span *ngIf="loading" style="font-size: 10px;">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                  <span class="sr-only">Loading...</span>
              </span>
            </div>
           
          </div>
        </div>

        <div class="card-body px-0 pb-2">
          <div class="container-fluid">
            <app-table>
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">S/N</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Deposit Code</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trxn Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created On</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let record of currentRecords; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ record?.code }}</td>
                      <td>{{ record?.amount | currency: 'NGN' : 'symbol-narrow' : '4.2-2' }}</td>
                      <td>{{ record?.user?.firstName }} {{ record?.user?.lastName }}</td>
                      <td>{{ record?.transactionStatus }}</td>
                      <td>{{ record?.status }}</td>
                      <td>{{ record?.createdAt | date }}</td>
                      <td>
                        <div class="dropdown show">
                          <a class="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-v text-secondary"></i>
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" (click)="openModal('lg', 'detail', content, record)">View</a>
                            <a class="dropdown-item" *ngIf="record.status === 'PENDING' && record.transactionStatus === 'SUCCESSFUL' " (click)="handleDepositOperation(record, 'APPROVED')">Approve</a>
                            <a class="dropdown-item" *ngIf="record.status === 'PENDING' && record.transactionStatus === 'SUCCESSFUL' " (click)="handleDepositOperation(record, 'DECLINED')">Decline</a>
                            <!-- <a class="dropdown-item" (click)="openModal('lg', 'edit', content, record)">Edit</a> -->
                            <a class="dropdown-item" (click)="openModal('lg', 'delete', content, record)">Delete</a>
                          </div>
                        </div>
                      </td>
                  </tr>
              </tbody>
            </app-table>
          </div>
        </div>

      </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header container">
    <h4 class="modal-title">{{ formType === 'peep' ? 'Peep Modal' : 'Package Modal' }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  <div class="modal-body">
        <div id="deposit-form" 
          *ngIf="formType === 'create' ||
          formType === 'edit'"
        >
            <!-- <app-shipment-add [packageRecords]="returnedPackages" [formType]="formType" [record]="currentRecord" (changed)="getRecords()"></app-shipment-add> -->
        </div>

        <div id="deposite-detail" 
          *ngIf="formType === 'detail'">
            <app-deposit-detail [record]="currentRecord"></app-deposit-detail>
        </div>

        <div id="delete-modal" *ngIf="formType === 'delete' ">
          <div class="container rounded shadow-sm card">
            <div class="card-body d-flex justify-content-between">
                <div class="flex">
                    <h6>Deposit Code</h6>
                    <p><small>{{ currentRecord?.code }}</small></p>
                </div>
                
                <div class="flex">
                    <h6>Amount</h6>
                    <p><small>{{ currentRecord?.amount }}</small></p>
                </div>
                
                <div class="flex">
                    <h6>User Bank details</h6>
                    <p><small>{{ currentRecord?.depositorBank }}</small></p>
                    <p><small>{{ currentRecord?.depositorAcctName }}</small></p>
                    <p><small>{{ currentRecord?.depositorAcctNum }}</small></p>
                </div>
                
                <div class="flex">
                    <h6>Status</h6>
                    <p><small>{{ currentRecord?.status }}</small></p>
                </div>
            </div>
          </div>
          <div class="mt-5">
            <button class="btn btn-block btn-danger" (click)="deleteRecord(currentRecord)">
              Delete
            </button>
          </div>
        </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>