<div class="table-responsive">
    <table class="table table-striped align-items-center mb-0">
      <ng-content></ng-content>
      <!-- <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
            *ngFor="let header of headers">{{ header }}</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Members</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completion</th>
        </tr>
      </thead> -->
    </table>
  </div>